.btn {
background-color:rgb(234, 209, 22) !important;
color:black;
}

.my-form input[type="text"]::placeholder,
.my-form input[type="password"]::placeholder {
  
  padding-left: 10px; /* Ajusta el espacio del placeholder */
}

.text-danger {
  color: red;
  font-size: 0.8em;
}

.mt-1 {
  margin-top: 0.25rem;
}